*{
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
    background-color: gray;
}
.container{
    padding: 50px;
}

.calculatorBox{
    width: 400px;
    height: 500px;
    margin: auto;
    position: relative;
    background-color: white;
    border-radius:5px;
}
.screen{
    height: 35%;
    text-align: right;

}
.history{
    padding: 50px 20px 0 0;
    height: 50%;
    font-size: 30px;
    color:gray;

}
.result{
    width: 400px;
    overflow:auto;
    padding-right: 20px;
    height: 50%;
    font-size: 50px;

}
.keyboards{
    display: flex;
    flex-wrap: wrap;
    height: 65%; 
}
.number, .operator{
    width:25%;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.operator:nth-child(18), .number:nth-child(17){
    width: 50%;
}

