*{
    box-sizing: border-box;
}
body{
    font-family:'Open Sans', sans-serif;
    background-color: gray;
}
.container{
    padding: 50px;
}

.calculatorBox{
    width: 400px;
    height: 500px;
    margin: auto;
    position: relative;
    background-color: white;
}
.screen{
    height: 35%;
    text-align: right;

}
.history{
    padding: 50px 20px 0 0;
    height: 50%;
    font-size: 20px;

}
.result{
    padding-right: 20px;
    height: 50%;
    font-size: 50px;
}
.keyboards{
    display: flex;
    flex-wrap: wrap;
    height: 65%; 
}
.number, .operator{
    margin: 1%;
    width:23%;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}
.operator:nth-child(18), .number:nth-child(17){
    width: 48%;
}

