*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: linear-gradient(rgba(0,0,0,9),rgba(0,0,0,0.9)),url(img/2473838.jpg);

}
.container{
    padding: 50px;
}

.calculatorBox{
    color: gainsboro;
    width: 400px;
    height: 500px;
    margin: auto;
    position: relative;
    background:rgba(33, 8, 34, 0.0);
    border-radius:5px;
  
}

.screen{
    height: 35%;
    text-align: right;

}
.history{
    padding: 50px 20px 0 0;
    height: 50%;
    font-size: 30px;
    color:rgb(194, 168, 168);

}
.result{
    width: 400px;
    overflow:auto;
    padding-right: 20px;
    height: 50%;
    font-size: 50px;
    border-bottom: 2px solid purple;

}
.keyboards{
    margin-top: 1%;
    display: flex;
    flex-wrap: wrap;
    height: 64%;
    
}
button{
    background:rgba(33, 8, 34, 0.0);
    width:25%;
    cursor: pointer;
    font-weight: bold;
    font-size: 18px;
    border: none;
    height: 20%;
}
.number{
    color: rgb(243, 169, 221);
}
.operator{
    color: rgb(202, 187, 198);
}

button:hover{
    font-size: 20px;
    color: white;
    background:rgba(170, 32, 170, 0.13);
    border: 1px solid rgba(182, 107, 182, 0.568);
    animation: all 0.5s;
    border-radius: 100px;
}
button:active{
    background:rgba(184, 34, 184, 0.418);
    font-size: 16px;
    border-radius: 100px;
}
.operator:nth-child(19){
    width: 50%;
}
::-webkit-scrollbar{
    height: 10px;
}

  
  /* Handle */
::-webkit-scrollbar-thumb {
    background: rgba(233, 137, 230, 0.178);
    height: 1px;
    border-radius: 10px;
    border-top: 2px solid purple;
    border-right: 2px solid purple;
    border-left: 2px solid purple;
    
}